<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318315632224-fkj182ehvkni6u481rme2qlvlagd6k55.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318315632224-fkj182ehvkni6u481rme2qlvlagd6k55</string>
	<key>API_KEY</key>
	<string>AIzaSyD1EdMYXdvBtcAZ5E6kC5bChOcdeIhQF58</string>
	<key>GCM_SENDER_ID</key>
	<string>318315632224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlineNote</string>
	<key>PROJECT_ID</key>
	<string>online-note-6f2cd</string>
	<key>STORAGE_BUCKET</key>
	<string>online-note-6f2cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318315632224:ios:da361085deecf31a2b5505</string>
</dict>
</plist>